.resultsSection {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 900;
    color: white;

    & p {
        padding-left: 10px;
    }
}

.soccerRes {
    background-color: #4caf50;
}

.basketballRes {
    background-color: #2196f3;
}

.tennisRes {
    background-color: #9c27b0;
}

.rugbyRes {
    background-color: #f44336;
}

.baseballRes {
    background-color: #a17901;
}

.motorRes {
    background-color: #795548;
}

table {
    border: 1px #999 solid;
    background-color: transparent;
    padding: 3px;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    font-size: 17px;
    background-color: whitesmoke;

    & th {
        width: 100%;
        background-color: #3c3c3c;
        color: white;
        text-align: left;
        padding-left: 5px;
        padding-top: 3px;

        & img {
            max-width: 20px;
            vertical-align: middle;
            padding-bottom: 2px;
        }
    }

    & tr {
        width: 100%;
        border-bottom: 1px #5c5c5c solid;
        font-weight: 100;
        align-items: center;

        & .shield {
            width: 6%;
            max-height: 20px;
            height: 20px;
            overflow: hidden;
            
            & img {
                max-width: 20px;
                max-height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


        & .teamLeft {
            width: 25%;
            text-align: right;
            padding-right: 5px;
        }

        & .teamRight {
            width: 25%;
            text-align: left;
            padding-left: 5px;
        }

        & .position {
            width: 5%;
            text-align: left;
            padding-left: 5px;
        }

        & .points {
            width: 10%;
            background-color: black;
            color: white;
            font-weight: 900;
            text-align: center;
        }

        & .notPlayed {
            background-color: #999;
            color: black;
            text-align: center;
        }
    }
}